/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
